<aside class="site-drawer" id="mobile-menu-drawer">
    <div class="mobile-menu-drawer__header">
        {% if section.settings.mobile_drawer_logo %}
            <img src="{{ section.settings.mobile_drawer_logo | image_url: width: 200 }}" alt="{{ shop.name }}" class="header__logo" />
        {% else %}
            <h2>{{ shop.name }}</h2>
        {% endif %}
        <button id="mobile-menu-close-button" class="close-drawer-button" aria-label="Close mobile menu">
            {% render 'icon-close' %}
        </button>
    </div>
    <div class="mobile-menu-drawer__body">
        {% if section.settings.mobile_menu_customer_count_text %}
            <div class="reviews flex flex-row flex-wrap gap-3 items-center justify-center mt-5">
                <div class="flex gap-px items-center justify-center">
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    <span class="text-sm inline-block delta-purple ml-3">{{ section.settings.mobile_menu_customer_count_text }}</span>
                </div>
            </div>
        {% endif %}
        {% if section.settings.mobile_menu_body_title_text %}
            <h3 class="font-extrabold text-[28px] mb-6 mt-2 capitalize text-center self-center delta-purple">{{ section.settings.mobile_menu_body_title_text }}</h3>
        {% endif %}
        {% if section.settings.mobile_menu_body_cta_link %}
            <a href="{{ section.settings.mobile_menu_body_cta_link }}" class="delta-button mt-4 mb-4">
                {{ section.settings.mobile_menu_body_cta_text }}
            </a>
        {% endif %}
        {% if section.settings.menu %}
            <nav class="mobile-menu-drawer__nav">
                {% for link in section.settings.menu.links %}
                    <a href="{{ link.url }}" class="flex header-menu-item justify-center items-center text-center active">{{ link.title }}</a>
                {% endfor %}
            </nav>
        {% endif %}
        {% unless customer %}
            <a href="{{ routes.account_url }}" class="delta-deep-red text-center block rose-avenue text-[20px] font-bold mt-8 arrow-animate">
                Log in
            </a>
        {% endunless %}
    </div>
</aside>