<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <title>
      {%- if template.name == 'index' and settings.website_title -%}
        {{ settings.website_title }}
      {%- elsif page_title -%}
        {{ page_title }} | {{ shop.name }}
      {%- else -%}
        {{ shop.name }}
      {%- endif -%}
    </title>

    {% render 'css-variables' %}

    {% unless settings.type_primary_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

      {% comment %} Preload the base font variant for initial page render {% endcomment %}
      {{ settings.type_primary_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
    {% endunless %}

    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'main.css' | asset_url | stylesheet_tag }}

    {% if settings.fav_icon %}
      <link rel="icon" type="image/png" href="{{ settings.fav_icon | image_url: width: 32 }}">
    {% endif %}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>    
    {% sections 'header-group' %}
    <main>
      {{ content_for_layout }}
    </main>
    {% sections 'footer-group' %}
    <script src="{{ 'main.js' | asset_url }}" defer></script>
  </body>
</html>


