<!doctype html>
<html lang="{{ request.locale.iso_code }}">
    {% render 'css-variables' %}

    {% unless settings.type_primary_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

      {% comment %} Preload the base font variant for initial page render {% endcomment %}
      {{ settings.type_primary_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
    {% endunless %}

    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'main.css' | asset_url | stylesheet_tag }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>    
    {% sections 'header-group' %}
    <main>
      {{ content_for_layout }}
    </main>
    {% sections 'footer-group' %}
    <script src="{{ 'main.js' | asset_url }}" defer></script>
  </body>
</html>


