
{% style %}
  {% for block in section.blocks %}
    [data-section-id="{{ section.id }}"] .can-column-{{ forloop.index }} {
      background-color: {{ block.settings.block_background_color }};
      background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.25) 0%, transparent 60%);
      color: {{ block.settings.block_text_color }};
    }
    [data-section-id="{{ section.id }}"] .can-column-{{ forloop.index }} .button-arrow svg path {
      fill: {{ block.settings.block_text_color }};
    }
  {% endfor %}
{% endstyle %}

<div data-section-id="{{ section.id }}">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-0">
    {% for block in section.blocks %}
      <div class="can-column-{{ forloop.index }} min-h-75 lg:min-h-80 md:min-h-100 pt-6 h-full w-full flex flex-col" {{ block.shopify_attributes }}>
        <h3 class="px-5 font-extrabold lg:text-4xl text-2xl mb-6">{{ block.settings.title }}</h3>
        
        {% if block.settings.flavors_list != blank %}
          <span class="px-5 text-sm">Flavors:</span>
          <p class="px-5 font-bold capitalize mb-0 lg:mb-6">{{ block.settings.flavors_list }}</p>
        {% endif %}
        
        <div class="mt-auto flex justify-between items-end px-5">
          {% if block.settings.bottom_block_image %}
            {% render 'image', 
              image: block.settings.bottom_block_image, 
              width: 300, 
              class: 'ml-4 h-min-[100px] h-auto custom-shift max-w-[110px] lg:max-w-[190px]',
              style: 'width: 100%;',
              url: block.settings.block_button_link
            %}
          {% endif %}
          
          {% if block.settings.block_button_link != blank and block.settings.block_button_text != blank %}
            <a 
              class="items-center flex gap-4 button-arrow rose-avenue content-center -ml-5 sm:ml-0 text-sm! lg:text-base lg:font-normal whitespace-nowrap lg:mb-6 mb-2" 
              href="{{ block.settings.block_button_link }}"
            >
              {{ block.settings.block_button_text }}
              {% if block.settings.enable_button_arrow %}
                {% render 'icon-circle-arrow' %}
              {% endif %}
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
    "name": "Can Triple Column",
    "settings": [

    ],
    "blocks": [
        {
            "type": "triple-column-block",
            "name": "Triple Column Block",
            "limit": 3,
            "settings": [
                {
                    "type": "color",
                    "id": "block_background_color",
                    "label": "Block Background Color",
                    "default": "#302952"
                },
                {
                    "type": "color",
                    "id": "block_text_color",
                    "label": "Block Text Color",
                    "default": "#FFFFFF"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Column header",
                    "default": "Column Title"
                },
                {
                    "type": "textarea",
                    "id": "flavors_list",
                    "label": "Flavors list (or subheader)"
                },
                {
                    "type": "image_picker",
                    "id": "bottom_block_image",
                    "label": "Bottom Block Image"
                },
                {
                    "type": "url",
                    "id": "block_button_link",
                    "label": "Block Button Link"
                },
                {
                    "type": "text",
                    "id": "block_button_text",
                    "label": "Block Button Text"
                },
                {
                    "type": "checkbox",
                    "id": "enable_button_arrow",
                    "label": "Use Button Arrow",
                    "default": true
                }
            ]
        }
    ],
    "presets": [
    {
        "name": "Can Triple Column"
    }
  ]
}

{% endschema %}