<header>
  {% if section.settings.enable_pencil_banner %}
  <div class="header__pencil-banner pad-x">
    <span class="mr-0 md:mr-4 text-white font-bold">{{ section.settings.pencil_banner_text }}</span>
    {% if section.settings.pencil_banner_link %}
      <a href="{{ section.settings.pencil_banner_link }}" class="ml-4 rose-avenue peer">
        {{ section.settings.pencil_banner_link_text }}
      </a>
      <span class="transition-transform duration-200 ease-in-out ml-2 peer-hover:translate-x-2.5">→</span>
    {% endif %}
  </div>
{% endif %}
  <div class="header__inner">
    <button class="flex md:hidden cursor-pointer" id="mobile-menu-button" aria-label="Open Mobile Menu">
      <span class="text-2xl pointer-events-none">☰</span>
    </button>
    {% if settings.brand_logo %} 
      <a href="{{ routes.root_url }}" class="header__logo-link">
        <img src="{{ settings.brand_logo | img_url: '200x' }}" alt="{{ shop.name }}" class="header__logo" />
      </a>
    {% else %}
      <h2 class="header__title">
        {{ shop.name | link_to: routes.root_url }}
      </h2>
    {% endif %}

    <div class="header__menu mr-auto ml-12 hidden md:flex">
      {% for link in section.settings.menu.links %}
        {{ link.title | link_to: link.url }}
      {% endfor %}
    </div>

    <div class="header__icons">
      {% if shop.customer_accounts_enabled %}
        <a class="hidden md:block" href="{{ routes.account_url }}">Log In</a>
        <span class="hidden md:block">|</span>
      {% endif %}
      
      {% if settings.use_cart_drawer %} 
          <cart-drawer-trigger class="cursor-pointer" role="button" tabindex="0" aria-label="Open cart">
        {% else %}
          <a href="{{ routes.cart_url }}">
      {% endif %}
        {% render 'icon-cart' %}
      {% if settings.use_cart_drawer %} 
          </cart-drawer-trigger>
        {% else %}
          </a>
      {% endif %}
    </div>
  </div>

</header>

{% style%}

main {
  {% if section.settings.enable_pencil_banner %}
      margin-top: calc(var(--header-height) + var(--pencil-banner-height));
    {% else %}
      margin-top: var(--header-height);
  {% endif %}
}

@media screen and (max-width: 768px) {
  {% if section.settings.enable_pencil_banner %}
    main {
      margin-top: calc(var(--header-height) + var(--pencil-banner-height-mobile));
    }
  {% endif %}
}

header a {
  color: {{ section.settings.main_header_link_color }};
}

.header__pencil-banner,
.header__pencil-banner a {
  color: {{ section.settings.pencil_banner_text_color }};
}
.header__pencil-banner {
  {% if section.settings.use_two_colors %}
    background: linear-gradient(90deg, {{ section.settings.pencil_banner_bg_color_one }}, {{ section.settings.pencil_banner_bg_color_two }});
  {% else %}
    background-color: {{ section.settings.pencil_banner_bg_color_one }};
  {% endif %}
}

{% endstyle %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "header",
      "content": "Main Header Settings",
      "info": "Mobile menu drawer settings can be found in 'theme settings' > 'Mobile Menu Drawer'"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Header Menu"
    },
    {
      "type": "color",
      "id": "main_header_link_color",
      "label": "Main Header Link Color",
      "default": "#302952"
    },
    {
      "type": "header",
      "content": "Pencil Banner Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_pencil_banner",
      "label": "Enable Pencil Banner",
      "default": false
    },
    {
      "type": "text",
      "id": "pencil_banner_text",
      "label": "Pencil Banner Text",
      "default": "Free shipping on orders over $50"
    },
    {
      "type": "url",
      "id": "pencil_banner_link",
      "label": "Pencil Banner Link URL"
    },
    {
      "type": "text",
      "id": "pencil_banner_link_text",
      "label": "Pencil Banner Link Text",
      "default": "Shop Now"
    },
    {
      "type": "color",
      "id": "pencil_banner_text_color",
      "label": "Pencil Banner Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "pencil_banner_bg_color_one",
      "label": "Pencil Banner Background Color One",
      "default": "#302952"
    },
    {
      "type": "checkbox",
      "id": "use_two_colors",
      "label": "Use Two Background Colors (gradient)",
      "default": false
    },
    {
      "type": "color",
      "id": "pencil_banner_bg_color_two",
      "label": "Pencil Banner Background Color Two (optional)"
    }
  ]
}
{% endschema %}
